<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repellendus nesciunt assumenda eum odit aliquid quasi sit, tenetur, quas sed cumque quisquam voluptatem corporis ducimus, quam cum animi deserunt provident.</p>
  {{> footer}}
</body>
</html>